::selection {
  background-color: grey;
}
body {
  color: white;
  background-color: black;
  font-family: 'Roboto', sans-serif;
}
input {
  font-family: 'Roboto', sans-serif;
}
input,
div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
div.wrapper {
  width: 60%;
  margin: 200px auto;
}
.codenav {
  width: 100%;
}
.codenav div {
  position: relative;
}
.codenav .cn-input {
  width: 60%;
  margin: 300px auto 0 auto;
}
.codenav .cn-input input {
  color: white;
  font-size: 21px;
  font-weight: 300;
  background-color: black;
  border: 2px solid #143491;
  width: 100%;
  line-height: 55px;
  padding: 0 15px;
}
.codenav .cn-input input:focus {
  outline: none;
  box-shadow: none;
}
.codenav .cn-list {
  color: white;
  background-color: #143491;
  width: 60%;
  margin: auto;
}
.codenav .cn-list ul {
  font-size: 21px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 20px;
}
.codenav .cn-list ul li {
  cursor: default;
  padding: 12.5px 15px 15px 15px;
}
.codenav .cn-list ul li:hover {
  background-color: #10286f;
}
.codenav .cn-list ul li.selected {
  background-color: #10286f;
}
