@cn-width: 100%;
@cn-red: #de2c3b;
@cn-blue: rgba(20,52,145,1);
@cn-blue-dark: rgba(16,40,111,1);

.codenav {
    width: @cn-width;

    div {
        position: relative;
    }

    .cn-input {
        width:60%;
        margin: 300px auto 0 auto;
        input {
            color: white;
            font-size: 21px;
            font-weight: 300;
            background-color: black;
            border: 2px solid @cn-blue;
            width:100%;
            line-height:55px;
            padding:0 15px;
        }
        input:focus {
            outline:none;
            box-shadow:none;
        }
    }

    .cn-list {
        color: white;
        background-color: @cn-blue;
        width: 60%;
        margin: auto;
        ul {
            font-size: 21px;
            font-weight: 300;
            margin: 0;
            padding: 0;
            list-style-type: none;
            line-height: 20px;
            li {
                cursor: default;
                padding: 12.5px 15px 15px 15px;
            }
            li:hover {
                background-color: @cn-blue-dark;
            }
            li.selected {
                background-color: @cn-blue-dark;
            }
        }
    }

}